# Logs
logs
*.log
npm-debug.log*

# Dependencies
node_modules/
.pnp
.pnp.js

# Build
dist/
dist-ssr/
*.local

# Environment
.env
.env.local
.env.production

# IDE
.vscode/*
!.vscode/extensions.json
.idea

# OS
.DS_Store
Thumbs.db

# Vercel
.vercel

.vercel
